* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* seperate the part */
.space {
    height: 40px;
    width: 100%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

/* header */
header {
    display: flex;
    background-color: black;
    height: 60px;
    width: 100%;
}

/* title */
.title {
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin: 17px 20px;
}

/* top title */
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* arrow button */
a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin: 17px 20px;
}
.icon {
    font-size: 40px;
    margin: 20px 20px; 
}

/* coloum box contact us */
.contact {
    display: flex;
    flex-direction: column; /* Default to column layout */
    align-items: center;
    padding: 20px;
}

/* map picture */
.map {
    height: 450px;
    width: 100%;
    max-width: 450px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(185, 185, 185);
}

/* info box */
.info {
    height: 450px;
    width: 100%;
    max-width: 450px;
    margin: 20px 0;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(185, 185, 185);
}

/* icon */
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 27px;
}

/* text info */
.text-n {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

/* footer */
.footer {
    height: 130px;
    width: 100%;
}

.about .text-footer {
    margin: 15px 15px;
    font-size: 20px;
}

.about a {
    margin-left: 15px;
    font-size: 17px;
    color: rgb(115, 115, 115);
}

.about a:hover {
    color: darkblue;
}

.cr {
    margin: 35px 15px;
}

/* Media query for larger screens (PC) */
@media (min-width: 768px) {
    .contact {
        flex-direction: row; /* Change to row layout */
        justify-content: space-around; /* Space elements evenly */
    }

    .map, .info {
        margin: 0 20px;
        width: 45%; /* Adjust width to fit side by side */
    }
}
