* {
    padding: 0;
    margin: 0;
}

.space{
  height: 40px;
  width: 100%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin:17px 20px;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    
}
header {
    display: flex;
    background-color: black;
    height: 60px;
    width: 100%;
}

a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin:17px 20px;
}

.icon{
    font-size: 40px;
    margin: 20px 20px; 
}

.contact{
    display: flex;
}

.map{
    height: 450px;
    width: 450px;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius:20px;
    border-color: rgb(185, 185, 185);
}

.info{
    height: 450px;
    width: 450px;
    margin: 0px 20px;
    border-style: solid;
    border-radius:20px;
    border-color: rgb(185, 185, 185);
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 27px;
}

.text-n{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.footer{
    height: 130px;
    width: 100%;
}

.about .text-footer{
    margin: 15px 15px;
    font-size: 20px;
}

.about a{
    margin-left: 15px;
    font-size: 17px;
    color: rgb(115, 115, 115);
}

.about a:hover{
    color: darkblue;
}
.cr{
    margin: 35px 15px;
}