body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0;
}

/* cart container */
.cart-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* header */
.header{
    display: flex;
    margin-bottom: 10px;
}

/* button arrow */
a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
a:hover{
    color: gray;
}

/* header title */
.mhead{
    margin: 0px 10px;
    font-size: 20px;
}
h1 {
    text-align: center;
    color: #3b3b3b;
}

/* cart id position */
#cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* cart item  */
.cart-item {
    display: flex;
    flex-direction: column; /* Ensure items are in a column by default  */
    align-items: center;
    justify-content: center;
    width: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(138, 10, 10);
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* image in cart */
.image {
    width: 250px;
    height: auto;
    margin-right: 10px;
    border-radius: 4px;
}
/* info in cart */
.cart-item-details {
    width: 250px;
    margin: 0px 50px;
}
.cart-item h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
}
.cart-item p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}
/* price */
.q {
    margin: 5px 0;
    font-size: 17px;
    color: black;
}

/* adjust the position of item in cart when phone */
@media (min-width: 768px) {
    .cart-item {
        flex-direction: row; /* Switch to row direction on larger screens */
    }

    .cart-item-details {
        margin: 0 50px; /* Adjust margin to fit row layout */
    }
}
